@using Demo.SPA.Services
@using Demo.Models.Dto
@inherits LayoutComponentBase
@inject CommonStateService commonStateService;
@inject NavigationManager manager;
@inject AuthService authService;
@inject IJSRuntime js;

<Layout>
    <div hidden="@(!commonStateService.IsLoggedIn)">
        <Header Class="header" Style="position: fixed; z-index: 1; width: 100%; padding: 0px;">
            <PageHeader Class="site-page-header" Title="" Subtitle="" BackIcon="@("menu")" OnBack="@(_ => open())">
                <PageHeaderExtra>
                    <Dropdown Placement="@PlacementType.BottomRight">
                        <Overlay>
                            <Menu>
                                <MenuItem>
                                    <NavLink class="nav-link" href="account">
                                        Аккаунт
                                    </NavLink>
                                </MenuItem>
                                <MenuItem>
                                    <NavLink class="nav-link" href="login" @onclick="_ => Logout()">
                                        Выход
                                    </NavLink>
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <Button>
                                <Icon Type="user"/>
                            </Button>
                        </ChildContent>
                    </Dropdown>
                </PageHeaderExtra>
            </PageHeader>
        </Header>
    </div>

    <Content Class="site-layout-content">
        @Body
    </Content>
    <Footer id="footer" Style="text-align:center">Ant Design ©2018 Created by Ant UED</Footer>
    <Drawer Closable="true" Visible="visible" Placement="left" Title='("Меню")' OnClose="_ => close()">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <Button Type="Default" @onclick="_ => close()">
                        Home
                    </Button>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="myphotos">
                    <Button Type="Default" @onclick="_ => close()" Icon="picture">
                        Мои фотографии
                    </Button>
                </NavLink>
            </li>
        </ul>
    </Drawer>
</Layout>

@code {

    protected override void OnInitialized() {
        manager.NavigateTo(!commonStateService.IsLoggedIn ? "login" : "myphotos");
        base.OnInitialized();
    }

    bool collapsed;

    void onCollapse(bool collapsed) {
        Console.WriteLine(collapsed);
        this.collapsed = collapsed;
    }

    bool visible = false;

    void open() { visible = true; }

    void close() { visible = false; }

    void Logout() {
        authService?.Logout(default);
        commonStateService.AccessToken = null;
    }

    public void Dispose() { commonStateService.OnChange -= StateHasChanged; }
}


<style>
    .site-layout-content {
        background: #fff;
        padding: 72px 0;
        min-height: 280px;
    }
    
    #footer {
        position: fixed; /* Фиксированное положение */
        left: 0; bottom: 0; /* Левый нижний угол */
        width: 100%; /* Ширина слоя */
    }
</style>