@page "/"
@using Demo.gRPC.SPA.FileTransport
@inject Greeter.GreeterClient greeterClient

<h2>@message</h2>

@code {

    private string message;
    protected override async Task OnInitializedAsync() {
        var result = await greeterClient.SayHelloAsync(new HelloRequest {
            Name = "Eugene"
        });

        message = result.Message;
    }

}
